<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\Users\Jed\Documents\GitHub\TimeClock\IIS</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/EntityFramework.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="bin/TimeClock.dll">
      <publishTime>05/27/2012 18:18:04</publishTime>
    </File>
    <File Include="bin/TimeClock.pdb">
      <publishTime>05/27/2012 18:18:04</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_222222_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_454545_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_888888_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery-ui.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.accordion.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.autocomplete.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.button.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.core.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.datepicker.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.dialog.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.progressbar.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.resizable.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.selectable.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.slider.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.tabs.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.theme.min.css">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Content/themes/foundation/app.css">
      <publishTime>05/27/2012 13:56:06</publishTime>
    </File>
    <File Include="Content/themes/foundation/foundation.css">
      <publishTime>05/27/2012 13:56:06</publishTime>
    </File>
    <File Include="Content/themes/foundation/foundation.top-bar.css">
      <publishTime>05/27/2012 13:56:06</publishTime>
    </File>
    <File Include="Content/themes/foundation/ie.css">
      <publishTime>05/27/2012 13:56:06</publishTime>
    </File>
    <File Include="Content/themes/foundation/presentation.css">
      <publishTime>05/27/2012 13:56:06</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/misc/button-gloss.png">
      <publishTime>05/27/2012 13:56:51</publishTime>
    </File>
    <File Include="Images/misc/custom-form-sprites.png">
      <publishTime>05/27/2012 13:56:51</publishTime>
    </File>
    <File Include="Images/misc/modal-gloss.png">
      <publishTime>05/27/2012 13:56:51</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>05/24/2012 21:42:17</publishTime>
    </File>
    <File Include="Scripts/AjaxLogin.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/app.js">
      <publishTime>05/27/2012 13:57:17</publishTime>
    </File>
    <File Include="Scripts/foundation.js">
      <publishTime>05/27/2012 13:57:18</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>05/27/2012 14:07:26</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.intellisense.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.19.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.19.min.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/knockout.debug.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/knockout.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.5.3.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Scripts/modernizr.foundation.js">
      <publishTime>05/27/2012 13:57:18</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Account/Login.cshtml">
      <publishTime>05/27/2012 16:40:16</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Company/Create.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Company/Delete.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Company/Details.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Company/Edit.cshtml">
      <publishTime>05/27/2012 16:30:58</publishTime>
    </File>
    <File Include="Views/Company/GridData.cshtml">
      <publishTime>05/27/2012 16:30:58</publishTime>
    </File>
    <File Include="Views/Company/Index.cshtml">
      <publishTime>05/27/2012 16:32:14</publishTime>
    </File>
    <File Include="Views/Department/Create.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Department/Delete.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Department/Details.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Department/Edit.cshtml">
      <publishTime>05/27/2012 16:33:09</publishTime>
    </File>
    <File Include="Views/Department/GridData.cshtml">
      <publishTime>05/27/2012 16:33:08</publishTime>
    </File>
    <File Include="Views/Department/Index.cshtml">
      <publishTime>05/27/2012 16:34:07</publishTime>
    </File>
    <File Include="Views/Employee/Create.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Employee/Delete.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Employee/Details.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Employee/Edit.cshtml">
      <publishTime>05/27/2012 16:26:15</publishTime>
    </File>
    <File Include="Views/Employee/GridData.cshtml">
      <publishTime>05/27/2012 16:26:15</publishTime>
    </File>
    <File Include="Views/Employee/Index.cshtml">
      <publishTime>05/27/2012 16:27:04</publishTime>
    </File>
    <File Include="Views/Holiday/Create.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Holiday/Delete.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Holiday/Details.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Holiday/Edit.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Holiday/Index.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Message/Create.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Message/Delete.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Message/Details.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Message/Edit.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Message/Index.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/PayType/Create.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/PayType/Delete.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/PayType/Details.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/PayType/Edit.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/PayType/Index.cshtml">
      <publishTime>05/24/2012 21:42:14</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>05/27/2012 15:38:47</publishTime>
    </File>
    <File Include="Views/Shared/_LoginPartial.cshtml">
      <publishTime>05/27/2012 14:11:29</publishTime>
    </File>
    <File Include="Views/Status/Index.cshtml">
      <publishTime>05/27/2012 16:23:05</publishTime>
    </File>
    <File Include="Views/Timeclock/Index.cshtml">
      <publishTime>05/27/2012 15:44:40</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>05/24/2012 21:42:16</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/27/2012 18:18:04</publishTime>
    </File>
  </ItemGroup>
</Project>