@{
    ViewBag.Title = "Clock";
}

<div class="row">
<div class="four columns">
    <form class="custom">
    <fieldset>
        <h4>Time Clock</h4>
        <p>Select your name and enter your pin.</p>
        <div class="row">Name</div>
        <div class="row">

        </div>
        <div class="row">
            <label>Pin</label>
            <input type="password" class="oversize input-text" id="pin" />
        </div>
        <div class="row"></div>
        <div class="row">
            <a href="#" class="large radius nice blue button"></a>
        </div>
    </fieldset>
    </form>
</div>
<div class="eight columns">

</div>
</div>